<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MACs Disponibles - Cojowa</title>
    <link rel="stylesheet" href="./style/disponible.css">
    <link rel="icon" type="image/png" href="../../assets/Logo.png">
</head>
<body>
    <div class="container">
        <h2>Listado de MACs en Unifi</h2>
        <button class="back-btn" onclick="window.location.href='../../index.html'">⬅ Volver</button>

        <table id="macsUnifiTabla">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>MAC Unifi</th>
                    <th>Disponibilidad</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script type="module" src="../controllers/disponiblesController.js"></script>
</body>
</html>
