<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="./style/UsuariosStyles.css">
    <link rel="icon" type="image/png" href="../../assets/Logo.png">
</head>
<body>
    <div class="container">
        <h2>Gestión de Usuarios</h2>
        <button class="back-btn" onclick="window.location.href='../../index.html'">⬅ Volver</button>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Buscar usuario...">
            <select id="searchType">
                <option value="nombre">Por Nombre</option>
                <option value="id">Por ID</option>
                <option value="mac">Por MAC</option>
            </select>
            <button id="searchBtn">Buscar</button>
            <button id="addUserBtn" class="add-btn">➕ Añadir Usuario</button>

            <div class="button-container">
                <button id="editBtn" disabled>✏️ Editar</button>
                <button id="deleteBtn" disabled>🗑️ Eliminar</button>
            </div>
        </div>

        <table id="usuariosTabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>MAC Cel</th>
                    <th>MAC TV</th>
                    <th>MAC 1</th>
                    <th>MAC 2</th>
                    <th>MAC 3</th>
                    <th>En Unifi</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

    <script src="../controllers/usuariosController.js" type="module"></script>
</body>
</html>
